/* Estilos específicos por estado */
.curso.electivo:not(.bloqueado):not(.completado) {
  background-color: #74c69d; /* activo */
  color: #000;
}

.curso.electivo.bloqueado {
  background-color: #d8f3dc; /* bloqueado */
  color: #000;
}

.curso.electivo.completado {
  background-color: #4ea8de; /* completado */
  color: #fff;
  text-decoration: line-through;
}

.curso:not(.electivo):not(.bloqueado):not(.completado) {
  background-color: #FFAFCC;
  color: #000;
}

.curso:not(.electivo).bloqueado {
  background-color: #FFC8DD;
  color: #000;
}

.curso:not(.electivo).completado {
  background-color: #CDB4DB;
  color: #555;
  text-decoration: line-through;
}
